[Unit]
Description=Gunicorn instance to NextTrace PoW Server
After=network.target nexttrace-backendv2.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/develop/powserver
ExecStart=/bin/bash launch.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
