[Unit]
Description=Gunicorn instance to NextTrace PoW Server
After=network.target nexttrace-backend.service redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/develop/powserver
ExecStart=/bin/bash start.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
